# MySQL connection information
mysql:
  host: "localhost"
  port: 3306
  user: "userdb"
  password: "passwordhere"
  db: "userdb"
discord:
  prefixCmd: "."
  token: "--your-bot-token--"
# WRKZ
daemonWRKZ:
  host: "127.0.0.1"
  port: 17856
  # WRKZ is 2-digit, 100
  wallethost: "127.0.0.1"
  walletport: "1101"
  mixin: 3
  tx_fee: 10
  min_tx_amount: 100
  max_tx_amount: 1000000000
  # other settings
  DonateAddress: "WrkzRNDQDwFCBynKPc459v3LDa1gEGzG3j962tMUBko1fw9xgdaS9mNiGMgA9s1q7hS1Z8SGRVWzcGc8Sh8xsvfZ6u2wJEtoZB"
  prefix: 999730
  prefixChar: "Wrkz"
  decimal: 100
  AddrLen: 98
  IntAddrLen: 186
  name: "WRKZ"
  DiffTarget: 60
  MinToOptimize: 1000
  IntervalOptimize: 600
# TRTL
daemonTRTL:
  host: "127.0.0.1"
  port: 11898
  # TRTL is 2-digit, 100
  wallethost: "127.0.0.1"
  walletport: "1102"
  mixin: 3
  tx_fee: 10
  min_tx_amount: 10
  max_tx_amount: 1000000000
  # other settings
  DonateAddress: "TRTLv2k5RgwQkcXsZpue9ELGq49PEQbgZ7sAncv82GqTc3rehKqRLM7jomrji4zek76hWiYkKKizQFfny1TvvcvyBxqnvcsTfKi"
  prefix: 3914525
  prefixChar: "TRTL"
  decimal: 100
  AddrLen: 99
  IntAddrLen: 187
  name: "TRTL"
  DiffTarget: 30
  MinToOptimize: 1000
  IntervalOptimize: 600
# DEGO
daemonDEGO:
  host: "127.0.0.1"
  port: 6969
  # DEGO is 2-digit, 100
  wallethost: "127.0.0.1"
  walletport: "1103"
  mixin: 0
  tx_fee: 10
  min_tx_amount: 100
  max_tx_amount: 1000000000000
  # other settings
  DonateAddress: "dg4nUdJyHV1ZCrYV7kHvTE9HkKT9ynKCW1Antm1ku8ihhsN1PkiH2fFfwsGt2y7UsN3rALr4gg8oz87vpxjaVF8g1uUWKH7pE"
  prefix: 8411
  prefixChar: "dg"
  decimal: 100
  AddrLen: 97
  IntAddrLen: 185
  name: "DEGO"
  DiffTarget: 20
  MinToOptimize: 1000
  IntervalOptimize: 600
# BTCM
daemonBTCM:
  host: "127.0.0.1"
  port: 11358
  # BTCM is 4-digit, 10000
  wallethost: "127.0.0.1"
  walletport: "1107"
  mixin: 0
  tx_fee: 1000
  min_tx_amount: 1000
  max_tx_amount: 1000000000000
  # other settings
  DonateAddress: "btcmzTHkHtyhMoh8rjKgfvD13yFhs4eMmVBbuRcBMBZLdK67HCFbc4LegfEggApq8R2JJo8198vc4SwRjytTEbFZVvz6AyEUkuP"
  prefix: 3771344
  prefixChar: "btcm"
  decimal: 10000
  AddrLen: 99
  IntAddrLen: 187
  name: "BTCM"
  DiffTarget: 50
  MinToOptimize: 100
  IntervalOptimize: 600
# LOK
daemonLOK:
  host: "127.0.0.1"
  port: 22023
  # LOK is 9-digit, 100000000
  wallethost: "127.0.0.1"
  walletport: "22024"
  mixin: 9
  tx_fee: 10
  min_tx_amount: 1
  max_tx_amount: 1000
  # other settings
  DonateAddress: "L6XqN6JDedz5Ub8KxpMYRCUoQCuyEA8EegEmeQsdP5FCNuXJavcrxPvLhpqY6emphGTYVrmAUVECsE9drafvY2hXUTJz6rW"
  prefix: 114
  prefixChar: "L"
  decimal: 1000000000
  AddrLen: 95
  IntAddrLen: 159
  name: "LOK"
  coin_family: "XMR"
  DiffTarget: 120
  MinToOptimize: 1
  IntervalOptimize: 600
# DOGECOIN. DOGE is real amount
daemonDOGE:
  host: "127.0.0.1"
  rpcport: 22533
  username: "dogecoinusername"
  password: "dogecoinpassword"
  DonateAccount: "DonateWrkz"
  DonateAddress: "D6QP5XhXvqosso2dk8yRrFrwvH9UUEGP9z"
  AddrLen: 34
  min_mv_amount: 0.0001
  max_mv_amount: 5000
  tx_fee: 1
  min_tx_amount: 10
  max_tx_amount: 5000
  name: "DOGE"
# How many seconds between balance refresh with wallet-api
wallet_balance_update_interval: 60
# Flood tip limit per 10 seconds
floodTip: 6
floodTipDuration: 10
# Enable Coin
Enable_Coin: "TRTL,DEGO,WRKZ,BTCM,LOK"
# maintenance
maintenance: 0
maintenance_msg: "Bot under maintance."
tipallMax: 150
# Enable Coin Voucher
Enable_Coin_Voucher: "WRKZ,TRTL"
# Enable Message Loggin for debug or checking.
Enable_Message_Logging: 0
# coin that use wallet-service
wallet_service_coin: [""]
# Other settings:
qrsettings:
  path: "/home/user/tipbot/wrkzcoin-tipbot/data/qrcodes/"
  path_voucher_defaultimg: "/home/user/tipbot/wrkzcoin-tipbot/images/voucher_frame1.png"
  path_voucher_create: "/home/user/tipbot/wrkzcoin-tipbot/voucher_images/"
  coin_logo_path: "/home/user/tipbot/wrkzcoin-tipbot/coin_logo/"
font:
  digital7: "/home/user/tipbot/wrkzcoin-tipbot/fonts/digital-7 (mono).ttf"
# Encrypting keys
# https://nitratine.net/blog/post/encryption-and-decryption-in-python/
encrypt:
  key: "your-keys-"
